@import url("./custom-variables.css");

:root {
   box-sizing: border-box;
   font-size: 10px;
   font-family: "Source Sans Pro", Arial, Helvetica, sans-serif;
}

body {
   margin: 0;
   background-color: var(--body-background-color);
   color: var(--app-primary-color);
   min-width: 350px;
}

h1,
h2 {
   margin: 0;
}

p {
   margin: 0;
   padding: 0;
}
